.my-dropdown-selected-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.my-dropdown-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
