<div>
  <span>Selected: {{selectedMemberName}}</span>
</div>
<div>
  <p-dropdown [options]="dropdownMemberList" [(ngModel)]="selectedMember" (onChange)="onDropdownChange()">
    <ng-template let-item pTemplate="selectedItem">
      <div class="my-dropdown-selected-item">
        <i class="{{item.value.iconClass}}"></i>
        <span>{{item.value.name}}</span>
        <i *ngIf="item.value.checked" class="pi pi-check"></i>
      </div>
    </ng-template> 
    <ng-template let-item pTemplate="item"> 
      <div class="ui-helper-clearfix my-dropdown-item" style="position:relative;height:32px;">
        <i class="{{item.value.iconClass}}"></i>
        <span>{{item.value.name}}</span>
        <i *ngIf="item.value.checked" class="pi pi-check"></i>
      </div>
    </ng-template>
  </p-dropdown>
</div>
<div>
  <p-checkbox label="Select All" [(ngModel)]="selectAllMember" binary="true" (onChange)="onSelectAllMemberChange()"></p-checkbox>
  <ul>
    <li *ngFor="let item of dropdownMemberList">
      <p-checkbox [label]="item.value.name" [(ngModel)]="item.value.checked" binary="true"></p-checkbox>
    </li>
  </ul>
</div>